nav.nav.nav-tabs.pb-1.border-bottom.border-primary.border-2
    a.nav-link.text-warning(href="/") Home
    a.nav-link.text-warning(href="/login") Login
    a.nav-link.text-warning(href="/dashboard") Dashboard