extends layouts/master.pug 

block content

    form(action='/dashboard' method='GET')
        fieldset
            legend.h2.text-warning Research
            div.col-md-6
                label.form-label Sex: 
                select.form-select(name='sex')
                    option(selected value="") Choose the gender...
                    option(value="female") F
                    option(value="male") M

            div.col-md-6
                label.form-label Age : 
                input.form-control(type='number' name='age' value='')

            div.col-md-6
                label.form-label Classe : 
                select.form-select(name='class')
                    option(selected value="") Choose the class...
                    option(value="1") 1
                    option(value="2") 2
                    option(value="3") 3

            input.btn.btn-primary.mt-2(type='submit' value='Submit')
            //input.btn.btn-primary.mt-2(type='button' Onclick=reset())


            div.col-md-6.order-1
                canvas(id="myChart")
    div(id="data" class="'"+aaa+"'")            
    script(src='./assets/graph.js' type="module")

