extends layouts/master.pug 

block content
    form(action='/auth', method='POST')
        div.col-md-6
            label.form-label Email 
            input.form-control(type='email', name='email', value='' required)
        div.col-md-6
            label.form-label Password
            input.form-control(type='password', name='password', value='' required)
        
        input.btn.btn-primary.mt-2(type='submit', value='Submit')